.bio {
	display: grid;
	grid-template-rows: min-content min-content;
	row-gap: 1rem;
}

.bio p {
	line-height: 1.75rem;
}

.bio b {
	color: var(--text2);
	font-weight: 500;
}

h4 {
	font-family: ostrich_sanslight;
	letter-spacing: .3rem;
}

.tinker-list {
	font-size: .90rem;
}