li {
	margin: 1rem;
}
li a:link, li a:visited {
	color: var(--green-sheen);
	text-decoration: none;
}

li a:hover {
	color: var(--cream);
}

li a:active {
	color: var(--quinacridone-magenta);
}

h3 {
	font-weight: lighter;
}

.ostrich {
	font-family: 'ostrich_sansmedium';
	font-size: 1.25rem;
	color: var(--cream);
}

.roboto {
	color: var(--cream);
}