/*
Original/Dark Mode Colors:

body {
	--text1: hsla(136, 20%, 82%, 1);
	--text2: hsla(160, 25%, 61%, 1);
	--accent1: hsla(341, 40%, 42%, 1);
	--body: hsla(216, 22%, 23%, 1);
	--accent2: hsla(60, 75%, 88%, 1);
} */

body {
	--text1: hsla(216, 22%, 23%, 1);
	--text2: hsla(341, 40%, 42%, 1);
	--accent1: hsla(160, 25%, 61%, 1);
	--body: hsla(136, 20%, 82%, 1);
	--accent2: hsla(216, 22%, 23%, 1);
}

button {
	background-color: var(--accent1);
	box-shadow: var(--text2) 1px 2px;
}

button:hover {
	background-color: var(--text1);
	color: var(--accent1);
}

button:active {
	color: var(--body);
}

a:hover {
	color: var(--text1);
}

main header {
	background-color: var(--text1);
}
	