button {
	font-family: 'ostrich_sansmedium';
	letter-spacing: .15rem;
	font-size: 1rem;
	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: .5rem;
	background-color: var(--charcoal);
	color: var(--cream);
	padding: .5rem;
	border: none;
	box-shadow: var(--quinacridone-magenta) 1px 2px;
	cursor: pointer;
}

button:hover {
	background-color: var(--quinacridone-magenta);
}

button:active {
	outline: none;
	background-color: var(--opal);
	color: var(--charcoal);
}

button:focus {
	outline: none;
}

button span {
	margin: auto;
}

.resume {
	margin: 2rem 3rem;
	border: 3px solid var(--quinacridone-magenta);
}

.resume-head {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.name-wrapper h3{
	margin-top: 0;
}

.name-wrapper p{
	font-family: ostrich_sansmedium;
	letter-spacing: .1rem;
	margin-bottom: 0;
}


.contacts {
	display: flex;
	flex-direction: column;
}