.download {
	font-family: 'ostrich_sansmedium';
	letter-spacing: .15rem;
	font-size: 1rem;
	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: .5rem;
	background-color: var(--body);
	color: var(--accent2);
	padding: .5rem;
	border: none;
	box-shadow: var(--accent1) 1px 2px;
	cursor: pointer;
}

.download:hover {
	background-color: var(--accent1);
}

.download:active {
	outline: none;
	background-color: var(--text1);
	color: var(--body);
}

.download:focus {
	outline: none;
}

.download span {
	margin: auto;
}

.resume {
	margin: 1rem;
}

.resume-head {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.name-wrapper h3{
	margin-top: 0;
}

.name-wrapper p{
	font-family: ostrich_sansmedium;
	letter-spacing: .1rem;
	margin-bottom: 0;
}


.contacts {
	display: flex;
	flex-direction: column;
}